.profile-thumbnail {
    position: absolute;
    object-fit: cover;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

ul.topics {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.topics li.topic {
    padding: 8px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
ul.topics li.topic:hover {
    background-color: #f0f0f0;
}
div.topic-date {
    float: right;
}
div.topic-title {
    font-weight: bold;
}
div.topic-thumbnail {
    position: absolute;
}
div.topic-content {
    margin-left: 48px;
    min-height: 48px;
}

div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

ul.topic-groups {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.topic-groups li.topic-group {
    padding: 8px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f0f0f0;
}
ul.topic-groups li.topic-group:hover {
    background-color: #ffffff;
}
div.topic-group-thumbnail {
    position: absolute;
}
div.topic-group-content {
    margin-left: 28px;
    min-height: 20px;
    font-weight: bold;
}
div.topic-group-title-header {
    margin-left: 48px;
}

div.buttons-panel {
    min-height: 34px;
}


div.topic-title-header {
    margin-left: 48px;
}
div.topic-page {
    padding: 8px;
    margin: 16px 0px 0px 0px;
    border-top: 4px solid #428BCA;
    border-bottom: 4px solid #428BCA;
}
div.topic-page-content {
    margin-left: 56px;
    min-height: 100px;
}
div.topic-body {
}

div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
    border-radius: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.topic-body h1 {
    font-size: 140%;
}
.topic-body h2 {
    font-size: 130%;
}
.topic-body h3 {
    font-size: 120%;
}