/* Fix for jumping scrollbar issue */
html {
    /*margin-left: calc(100vw - 100%);
    margin-right: 0;*/
    overflow-y: scroll;
}

/* CSS to disable mobile version of the site */
/* TODO: check this fix with mobile device */
div.non-responsive {
    min-width: 1170px;
}

/* CSS for account profile */
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

/* CSS for index page */
div.main-title-header {
    margin-left: 48px;
}
.common-thumbnail {
    position: absolute;
    object-fit: cover;
}
.navbar-profile-thumbnail {
    position: static;
    object-fit: cover;
}

/* CSS for topics list */
ul.topics {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.topics li.topic {
    padding: 8px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
ul.topics li.topic:hover {
    background-color: #f0f0f0;
}
div.topic-date {
    float: right;
}
div.topic-author {
}
div.topic-title {
    font-weight: bold;
}
div.topic-thumbnail {
    position: absolute;
}
div.topic-content {
    margin-left: 48px;
    min-height: 48px;
}

/* CSS for pagination */
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

/* CSS for topic group page and topic groups list */
ul.topic-groups {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.topic-groups li.topic-group {
    padding: 8px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f0f0f0;
}
ul.topic-groups li.topic-group:hover {
    background-color: #ffffff;
}
div.topic-group-thumbnail {
    position: absolute;
}
div.topic-group-content {
    margin-left: 28px;
    min-height: 20px;
    font-weight: bold;
}
div.topic-group-title-header {
    margin-left: 48px;
}

/* CSS for button panels */
div.buttons-panel {
    min-height: 34px;
}
div.right-buttons {
    float: right;
}

/* CSS for topic page */
div.topic-title-header {
    margin-left: 48px;
}
div.topic-page {
    padding: 8px;
    margin: 16px 0px 0px 0px;
    border-top: 4px solid #428BCA;
    border-bottom: 4px solid #428BCA;
}
div.topic-page-content {
    margin-left: 56px;
    min-height: 100px;
}
div.topic-body {
}

/* CSS for markdown text support */
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
    border-radius: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.topic-body h1 {
    font-size: 140%;
}
.topic-body h2 {
    font-size: 130%;
}
.topic-body h3 {
    font-size: 120%;
}