/* Fix for jumping scrollbar issue */
html {
    /*margin-left: calc(100vw - 100%);
    margin-right: 0;*/
    overflow-y: scroll;
}

/* CSS to disable mobile version of the site */
/* TODO: check this fix with mobile device */
div.non-responsive {
    min-width: 1170px;
}

/* Common CSS */
textarea.form-control {
    max-width: 100%;
}
a.no-underline {
    text-decoration: none;
}

/* CSS for account profile */
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
.profile-avatar {
    position: absolute;
    object-fit: cover;
    width: 256px;
    height: 256px;
}

/* CSS for index page */
div.main-header {
    margin-left: 48px;
}
.common-thumbnail {
    position: absolute;
    object-fit: cover;
    width: 40px;
    height: 40px;
}
.navbar-profile-thumbnail {
    position: static;
    object-fit: cover;
    width: 18px;
    height: 18px;
}

/* CSS for topics list */
ul.topics {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.topics li.topic {
    padding: 8px;
    margin: -1px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
ul.topics li.topic:hover {
    background-color: #f0f0f0;
}
div.topic-date {
    float: right;
    font-size: small;
}
div.topic-comments-info {
    float: right;
    /*font-size: small;*/
}
span.topic-comments-info {
    min-width: 90px !important;
    display: inline-block !important;
}
div.topic-author {
}
div.topic-title {
    font-weight: bold;
}
div.topic-content {
    margin-left: 48px;
    min-height: 48px;
}

/* CSS for pagination */
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}

/* CSS for topic group page and topic groups list */
ul.topic-groups {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.topic-groups li.topic-group {
    padding: 8px;
    margin: -1px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f0f0f0;
}
ul.topic-groups li.topic-group:hover {
    background-color: #ffffff;
}
.topic-group-thumbnail {
    position: absolute;
    object-fit: cover;
    width: 20px;
    height: 20px;
}
div.topic-group-content {
    margin-left: 28px;
    min-height: 20px;
    font-weight: bold;
}
div.topic-group-topics-info {
    float: right;
    /*font-size: small;*/
}
span.topic-group-topics-info {
    min-width: 70px !important;
    display: inline-block !important;
}
div.topic-group-header {
    margin-left: 48px;
}

/* CSS for button panels */
div.buttons-panel {
    min-height: 34px;
}
div.right-buttons {
    float: right;
}

/* CSS for topic page */
div.topic-page-header {
    margin-left: 48px;
}
div.topic-page {
    margin: 16px 0px 0px 0px;
    border-top: 4px solid #428BCA;
    border-bottom: 4px solid #428BCA;
}
div.topic-page-title {
    padding: 16px;
    border-bottom: 1px solid #428BCA;
}
div.topic-page-meta {
    margin-left: 56px;
}
div.topic-page-content {
    padding: 16px;
    min-height: 100px;
    overflow-x: auto;
}

/* CSS for markdown text support */
/*
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
    border-radius: 4px;
    overflow-x: auto;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
*/

/* CSS for topic body */
.topic-page-content h1 {
    font-size: 140%;
}
.topic-page-content h2 {
    font-size: 130%;
}
.topic-page-content h3 {
    font-size: 120%;
}
.topic-page-content table {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}
.topic-page-content th {
    background: #ccc;
    padding: 4px;
    border: 1px solid;
}
.topic-page-content td {
    padding: 4px;
    border: 1px solid;
}

/* CSS for comment form */
div.comments-form {
    margin-left: 48px;
}

/* CSS for comments list */
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    padding: 8px;
    margin: -1px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
div.comment-date {
    float: right;
    font-size: small;
}
div.comment-author {
}
div.comment-body {
    max-height: 600px;
    overflow-x: auto;
    overflow-y: auto;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-buttons {
    text-align: right;
}

/* CSS for comment page */
div.comment-page-header {
    margin-left: 48px;
}

/* CSS for poll */
ul.poll_answers {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.poll_answers li.poll_answer {
    padding: 8px;
    margin: 1px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    color: #428BCA;
    font-weight: bold;
}
ul.poll_answers li.poll_answer:hover {
    background-color: #428BCA;
    color: #ffffff;
}
div.poll_progress {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
}
div.poll_progress_bar {
    background-color: #428BCA;
}
ul.poll_answers_voted {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.poll_answers_voted li.poll_answer_voted {
    padding: 8px;
    margin: 1px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    color: #428BCA;
    font-weight: bold;
}
div.poll_percent_info {
    float: right;
}

/* CSS for messages */
.table.messages tr {
    border-bottom: 1px solid #e0e0e0;
}
img.message_thumbnail {
    width: 18px;
    height: 18px;
    object-fit: cover;
}
span.blue-badge {
    background-color: #428BCA;
}