{% if comments %}

<ul class="comments">
    {% for comment_data in comments %}
    {% if use_rich_comments %}
        {% set comment, author, topic = comment_data %}
    {% else %}
        {% set comment, author = comment_data %}
    {% endif %}
    <li id="comment{{ comment.id }}" class="comment img-rounded">
        <div>
            <a href="{{ url_for('main.user', username=author.username) }}">
                <img class="img-rounded common-thumbnail" src="{{ author.avatar }}">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">
                {{ _('Created') }}: {{ format_datetime(comment.created_at, 'd MMMM YYYY, H:mm') }}
            </div>
            <div class="comment-author">
                <a href="{{ url_for('main.user', username=author.username) }}">
                    {{ author.username }}
                </a>
                {% if use_rich_comments %}
                    {{ _('in topic') }}
                    <a href="{{ url_for('main.topic', topic_id=comment.topic_id) }}">
                        "{{ topic.title }}"
                    </a>
                {% endif %}
            </div>
            {% if comment.created_at != comment.updated_at %}
            <div class="comment-date">
                {{ _('Updated') }}: {{ format_datetime(comment.updated_at, 'd MMMM YYYY, H:mm') }}
            </div>
            {% endif %}
            {% if comment.author.name %}
            <div class="comment-author">{{ comment.author.name }}</div>
            {% else %}
            <br>
            {% endif %}
            <div class="comment-body">
                {{ comment.body }}
            </div>
            <div class="comment-buttons">
                {% if current_user.id==comment.author_id and current_user.can(Permission.WRITE) %}
                <a class="btn btn-warning btn-xs" href="{{ url_for('.edit_comment', comment_id=comment.id, next=request.url) }}">
                    {{ _('Edit') }}
                </a>
                {% elif current_user.is_moderator() %}
                <a class="btn btn-warning btn-xs" href="{{ url_for('.edit_comment', comment_id=comment.id, next=request.url) }}">
                    {{ _('Edit [Moderator]') }}
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endif %}