{% extends "bootstrap/base.html" %}

{% block title %}D3 - {{ _('Forum') }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/{0}/bootstrap.css'.format(config['THEME'])) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/{0}/styles.css'.format(config['THEME'])) }}">
{% endblock %}

{% block metas %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">D3</a>
        </div>
        {% if current_user.is_authenticated %}
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main.index') }}">{{ _('Forum') }}</a></li>
            <li><a href="{{ url_for('main.latest') }}">{{ _('Latest') }}</a></li>
            <li><a href="{{ url_for('main.hot') }}">{{ _('Hot') }}</a></li>
            <li><a href="{{ url_for('main.community') }}">{{ _('Community') }}</a></li>
        </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">

            {% if current_user.is_authenticated %}
            {% set unread_messages = current_user.get_unread_messages_count() %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {% if unread_messages %}
                  <span class="badge gray-badge">{{ unread_messages }}</span>
                  {% endif %}
                  <img class="img-rounded navbar-profile-thumbnail" src="{{ current_user.avatar }}">
                  {{ current_user.username }} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Profile') }}</a></li>
                <li>
                    <a href="{{ url_for('main.messages') }}">
                    {{ _('Messages') }} {% if unread_messages %}<span class="badge gray-badge">{{ unread_messages }}{% endif %}</span>
                    </a>
                </li>
                <li><a href="{{ url_for('main.participation') }}">{{ _('Topics with my participation') }}</a></li>
                <li><a href="{{ url_for('auth.change_password') }}">{{ _('Change password') }}</a></li>
                <li><a href="{{ url_for('auth.change_email') }}">{{ _('Change email') }}</a></li>
                <li><a href="{{ url_for('auth.logout') }}">{{ _('Log out') }}</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="{{ url_for('auth.login') }}">{{ _('Log in') }}</a></li>
            <li><a href="{{ url_for('auth.register') }}">{{ _('Register') }}</a></li>
            {% endif %}

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{ get_locale() }} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                {% for new_locale in config['SUPPORTED_LANGUAGES'] %}
                <li><a href="{{ url_for('main.set_locale', locale=new_locale, next=request.url) }}">{{ new_locale }}</a></li>
                {% endfor %}
              </ul>
            </li>

        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
<div class="footer">
</div>
{% endblock %}

{% block body %}
<div class="body-content">
    {{ super() }}
</div>
{% endblock %}