{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}D3 - {{ _('Create new topic group') }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="common-thumbnail" src="{{ url_for('static', filename='img/folder-add-icon.png') }}">
    <div class="common-header">
        <h2>{{ _('Create new topic group') }}
            {% if topic_group.is_root_topic_group() %}
            {{ _('on home page') }}
            {% else %}
            {{ _('in') }} "{{ topic_group.title }}"
            {% endif %}
        </h2>
    </div>
</div>
<div>
    {{ wtf.quick_form(form, button_map={'submit':'success', 'cancel':'danger'}, novalidate=True) }}
</div>
{% endblock %}