{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}D3 - {{ _('Forum') }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="common-thumbnail" src="{{ url_for('static', filename='img/d3-violet.png') }}">
    <div class="common-header">
        <h2>
            {{ _('Housing complex D3 - Forum') }}
        </h2>
    </div>
</div>
{% include '_buttons_topic_group.html' %}
{% include '_topic_groups.html' %}
{% include '_topics.html' %}
{{ macros.pagination_widget(pagination, 'main.index') }}
{% endblock %}