{% if comments %}

<ul class="comments">
    {% for comment_data in comments %}
    {% if use_rich_comments %}
        {% set comment, author, topic = comment_data %}
    {% else %}
        {% set comment, author = comment_data %}
    {% endif %}
    <li id="comment{{ comment.id }}" class="comment img-rounded">
        <div>
            <a href="{{ url_for('main.user', username=author.username) }}">
                <img class="img-rounded common-thumbnail" src="{{ author.avatar }}">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-date">
                {{ _('Created') }}: {{ format_datetime(comment.created_at, 'd MMMM YYYY, H:mm') }}
            </div>
            <div class="comment-author">
                <a href="{{ url_for('main.user', username=author.username) }}">
                    {{ author.username }}
                </a>
                {% if use_rich_comments %}
                    {{ _('in topic') }}
                    <a href="{{ url_for('main.topic', topic_id=comment.topic_id) }}">
                        "{{ topic.title }}"
                    </a>
                {% endif %}
            </div>
            {% if comment.created_at != comment.updated_at %}
            <div class="comment-date">
                {{ _('Updated') }}: {{ format_datetime(comment.updated_at, 'd MMMM YYYY, H:mm') }}
            </div>
            {% endif %}
            {% if comment.author.name %}
            <div class="comment-author">{{ comment.author.name }}</div>
            {% else %}
            <br>
            {% endif %}
            <div class="comment-body">
                {{ comment.body }}
            </div>
            <div class="comment-buttons">
                {% if current_user.id==comment.author_id and current_user.can(Permission.WRITE) %}
                <a class="open-editCommentModal btn btn-warning btn-xs"
                   data-toggle="modal"
                   data-body="{{ comment.body }}"
                   data-act="{{ url_for('.topic', topic_id=comment.topic_id, comment_id=comment.id, next=request.url) }}"
                   href="#editCommentModal">
                    {{ _('Edit') }}
                </a>
                {% elif current_user.is_moderator() %}
                <a class="open-editCommentModal btn btn-warning btn-xs"
                   data-toggle="modal"
                   data-body="{{ comment.body }}"
                   data-act="{{ url_for('.topic', topic_id=comment.topic_id, comment_id=comment.id, next=request.url) }}"
                   href="#editCommentModal">
                    {{ _('Edit [Moderator]') }}
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% if edit_comment_form %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Edit Comment Modal -->
<div id="editCommentModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <img class="common-thumbnail-modal" src="{{ url_for('static', filename='img/pen-icon.png') }}">
        <div class="common-header-modal">
            <h4 class="modal-title">{{ _('Edit comment') }}</h4>
        </div>
      </div>
      <div class="modal-body">
        {{
          wtf.quick_form(
            edit_comment_form,
            button_map={'edit-comment-submit':'success', 'edit-comment-cancel':'warning', 'edit-comment-delete':'danger'},
            novalidate=True,
          )
        }}
      </div>
    </div>

  </div>
  <meta id="modalMeta" data-errors="{{ edit_comment_form.errors }}">
</div>
{% endif %}

{% endif %}