{% if topics %}
<ul class="topics">
    {% for topic in topics %}
    <li class="topic img-rounded">
        <div>
            <a href="{{ url_for('main.user', username=topic.author.username) }}">
                <img class="img-rounded common-thumbnail" src="{{ topic.author.avatar }}">
            </a>
        </div>
        <div class="topic-content">
            <div class="topic-date">
                {{ moment(topic.created_at).format('D MMMM YYYY') }}
            </div>
            <div class="topic-author">
                <a href="{{ url_for('main.user', username=topic.author.username) }}">
                    {{ topic.author.username }}
                </a>
            </div>
            <div class="topic-comments-info">
                <a class="no-underline" href="{{ url_for('main.topic', topic_id=topic.id) }}#comments">
                    <span class="label label-primary topic-comments-info">Comments: {{ topic.comments.filter_by(deleted=False).count() }}</span>
                </a>
            </div>
            <div class="topic-title">
                <a href="{{ url_for('main.topic', topic_id=topic.id) }}">
                    {{ topic.title }}
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}