{% if topics %}
<ul class="topics">
    {% for topic, author, comments_count in topics %}
    <li class="topic img-rounded">
        <div>
            <a href="{{ url_for('main.user', username=author.username) }}">
                <img class="img-rounded common-thumbnail" src="{{ author.avatar }}">
            </a>
        </div>
        <div class="topic-content">
            <div class="topic-date">
                {{ format_datetime(topic.created_at, 'd MMMM YYYY') }}
            </div>
            <div class="topic-author">
                <a href="{{ url_for('main.user', username=author.username) }}">
                    {{ author.username }}
                </a>
            </div>
            <div class="topic-comments-info">
                <a class="no-underline" href="{{ url_for('main.topic', topic_id=topic.id) }}#comments">
                    <span class="label label-primary topic-comments-info">{{ _('Comments') }}: {{ comments_count }}</span>
                </a>
            </div>
            <div class="topic-title">
                <a href="{{ url_for('main.topic', topic_id=topic.id) }}">
                    {{ topic.title }}
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
    <div class="no-data-text">{{ _('Topics not found') }}</div>
{% endif %}