{% if topic_groups %}
<ul class="topic-groups">
    {% for topic_group in topic_groups %}
    <li class="topic-group img-rounded">
        <div>
            <a href="{{ url_for('main.topic_group', topic_group_id=topic_group.id) }}">
                <img class="topic-group-thumbnail" src="{{ url_for('static', filename='folder-icon.png') }}">
            </a>
        </div>
        <div class="topic-group-content">
            <div class="topic-group-title"><a href="{{ url_for('main.topic_group', topic_group_id=topic_group.id) }}">{{ topic_group.title }}</a></div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endif %}