{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}4RUM - Create new topic{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='simplemde.min.css') }}">
<script src="{{ url_for('static', filename='simplemde.min.js') }}"></script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="common-thumbnail" src="{{ url_for('static', filename='add-icon.png') }}">
    <div class="topic-page-header">
        <h2>Create new topic
            {% if topic_group.is_root_topic_group() %}
            on home page
            {% else %}
            in "{{ topic_group.title }}"
            {% endif %}
        </h2>
    </div>
</div>
<div>
    {{ wtf.quick_form(form, button_map={'submit':'success', 'add_poll':'primary', 'cancel':'danger'}) }}
</div>
<br>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var simplemde = new SimpleMDE({ element: document.getElementById("body") });
</script>
{% endblock %}