{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}4RUM - Edit topic{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="common-thumbnail" src="{{ url_for('static', filename='pen-icon.png') }}" width="40" height="40">
    <div class="topic-page-header">
        <h2>Edit topic
            {% if topic.group.is_root_topic_group() %}
            on home page
            {% else %}
            in "{{ topic.group.title }}"
            {% endif %}
        </h2>
    </div>
</div>
<div>
    {{ wtf.quick_form(form, button_map={'submit':'success', 'cancel':'warning', 'delete':'danger'}) }}
</div>
<br>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}