{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}4RUM - Messages{% endblock %}

{% block page_content %}
<div id="messages" class="page-header">
    <img class="common-thumbnail" src="{{ url_for('static', filename='mail-icon.png') }}">
    <div class="main-header">
        <h2>Messages</h2>
    </div>
</div>
<div>
    <ul class="nav nav-tabs">
        <li {% if direction=='received' %}class="active"{% endif %}>
            <a href="{{ url_for('main.messages', direction='received') }}">Received</a>
        </li>
        <li {% if direction=='sent' %}class="active"{% endif %}>
            <a href="{{ url_for('main.messages', direction='sent') }}">Sent</a>
        </li>
    </ul>
</div>

{% if messages %}
<table class="table table-hover messages">
    <thead>
        <tr>
            <th>{% if direction=='received' %}From user{% elif direction=='sent' %}To user{% endif %}</th>
            <th>Title</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    {% for message, user in messages %}
    <tr>
        <td>
            <a href="{{ url_for('main.user', username = user.username) }}">
                <img class="img-rounded message_thumbnail" src="{{ user.avatar }}">
                {{ user.username }}
            </a>
        </td>
        <td>
            {{ message.title }}
        </td>
        <td>
            {{ moment(message.created_at).format('D MMMM YYYY, H:mm') }}
        </td>
        <td>
            {% if message.unread %}
            <span class="badge blue-badge">Unread</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}


{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.messages', direction=direction, fragment='#messages') }}
</div>
{% endif %}
{% endblock %}