{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}4RUM - {{ topic_group.title }}{% endblock %}

{% block page_content %}
<div id="topic_group" class="page-header">
    <img class="common-thumbnail" src="{{ url_for('static', filename='folder-icon.png') }}">
    <div class="common-header">
        <h2>{{ topic_group.title }}</h2>
    </div>
</div>
{% include '_buttons_topic_group.html' %}
{% include '_topic_groups.html' %}
{% include '_topics.html' %}
{{ macros.pagination_widget(pagination, 'main.topic_group', topic_group_id=topic_group.id, fragment='#topic_group') }}
{% endblock %}