{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}4RUM - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-avatar" src="{{ user.avatar }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {% if user.name %}
        <p>
            Name: {{ user.name }}
        </p>
        {% endif %}
        {% if user.homeland %}
        <p>
            Homeland: <a href="http://maps.google.com/?q={{ user.homeland }}">{{ user.homeland }}</a>
        </p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <p>
            Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        </p>
        {% endif %}
        {% if user.about %}
        <p>
            About {{ user.username }}: {{ user.about }}
        </p>
        {% endif %}
        <p>
            Member since: {{ moment(user.created_at).format('D MMMM YYYY') }}
        </p>
        <p>
            Last seen: {{ moment(user.last_seen).fromNow() }}
        </p>
        <p>
            Forum activity: {{ topics_count }} topics, {{ comments_count }} comments
        </p>
        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">Edit profile</a>
            {% else %}
            <a class="btn btn-primary" href="{{ url_for('main.send_message', username=user.username, next=request.url) }}">Send message</a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin', user_id=user.id) }}">Edit profile [Admin]</a>
            {% endif %}
        </p>
    </div>
</div>
<h3 id="user_topics">Topics by {{ user.username }}:</h3>
{% include '_topics.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.user', username=user.username, fragment='#user_topics') }}
</div>
{% endif %}
{% endblock %}